<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Goonsack Games</title>
    <meta name="author" content="Aaron Shiels" />
    <style>
        html, body {
            background-color: black;
            color: white;
            margin: 0;
        }
    </style>
    <script defer crossorigin src="<%= reactCdnUrl %>"></script>
    <script defer crossorigin src="<%= reactDomCdnUrl %>"></script>
    <script defer crossorigin src="<%= pixiCdnUrl %>"></script>
    <script defer crossorigin src="<%= deepstreamCdnUrl %>"></script>
</head>

<body>
    <h1>Goonsack Games</h1>
    <nav>
        <ul>
            <li>
                <a href="https://mech.goonsackgames.com">Mech</a>
            </li>
            <li>
                <a href="https://pvp.goonsackgames.com">PvP</a>
            </li>
        </ul>
    </nav>
</body>

</html>
